## Extract Dates from Strings in Pandas DataFrame

In [1]:
import pandas as pd
import re

In [5]:
data = pd.read_csv('C:\\Users\\Minh Hang\\Downloads\\df_time.csv')

data.head()

                                                Fact  Year
0       Population estimates, July 1, 2016,  (V2016)   NaN
1  Population estimates base, April 1, 2010,  (V2...   NaN
2  Population, percent change - April 1, 2010 (es...   NaN
3                  Population, Census, April 1, 2010   NaN
4  Persons under 5 years, percent, July 1, 2016, ...   NaN

In [17]:
#drop row #64

data.drop(data.index[64], axis = 0, inplace=True)

Set indexes

In [18]:
#Set index for Fact column

index_fact = data.columns.get_loc('Fact')

index_year = data.columns.get_loc('Year')

print(index_fact, index_year)

0 1

Define patterns of the date

In [47]:
pattern1 = r'([2][0][0-9]{2})'

Looking for date in data frame

In [48]:
for row in range(0, 64):
    Year = re.search(pattern1, data.iat[row, index_fact]).group()
    data.iat[row, index_year] = Year

AttributeError: 'NoneType' object has no attribute 'group'

In [49]:
data

,Fact,Year
0,"Population estimates, July 1, 2016, (V2016)",2016
1,"Population estimates base, April 1, 2010, (V2...",2010
2,"Population, percent change - April 1, 2010 (es...",2010
3,"Population, Census, April 1, 2010",2010
4,"Persons under 5 years, percent, July 1, 2016, ...",2016
...,...,...
59,"Nonminority-owned firms, 2012","<re.Match object; span=(25, 29), match='2012'>"
60,"Veteran-owned firms, 2012","<re.Match object; span=(21, 25), match='2012'>"
61,"Nonveteran-owned firms, 2012","<re.Match object; span=(24, 28), match='2012'>"
62,"Population per square mile, 2010","<re.Match object; span=(28, 32), match='2010'>"
63,"Land area in square miles, 2010","<re.Match object; span=(27, 31), match='2010'>"